.main {
    width: fit-content;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: var(--col-main-dark);
    color: var(--col-white);
    text-decoration: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;

}
.main:disabled{
    background-color: var(--col-black-lighter);
    cursor: default;
}

.main:active {
    background-color: var(--col-main-light);
}